
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


        <!-- Menu -->
        <div class="menu_container menu_mm">

            <!-- Menu Close Button -->
            <div class="menu_close_container">
                <div class="menu_close"></div>
            </div>

            <!-- Menu Items -->
            <div class="menu_inner menu_mm">
                <div class="menu menu_mm">
                    <ul class="menu_list menu_mm">
                        <li class="menu_item menu_mm"><a href="#">Inicio</a></li>
                        <li class="menu_item menu_mm"><a href="#">Sobre Nosotros</a></li>
                        <li class="menu_item menu_mm"><a href="courses.html">Cursos</a></li>
                        <li class="menu_item menu_mm"><a href="elements.html">Elementos</a></li>
                        <li class="menu_item menu_mm"><a href="news.html">Novedades</a></li>
                        <li class="menu_item menu_mm"><a href="contact.html">Contactos</a></li>
                    </ul>

                    <!-- Menu Social -->

                    <div class="menu_social_container menu_mm">
                        <ul class="menu_social menu_mm">
                            <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="menu_social_item menu_mm"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>

                    <div class="menu_copyright menu_mm">Comunidad Puentes Derechos Reservados</div>
                </div>

            </div>

        </div>

        <!-- Home -->

        <div class="home">

            <!-- Hero Slider -->
            <div class="hero_slider_container">
                <div class="hero_slider owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-2382px, 0px, 0px); transition: all 0.8s ease 0s; width: 5558px;">
                            <div class="owl-item cloned" style="width: 794px;">
                                <div class="hero_slide">
                                    <div class="hero_slide_background" style="background-image: url('../../images/slider_background.jpg');"></div>
                                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                                        <div class="hero_slide_content text-center">
                                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut" class="animated animate-out fadeOut fadeInUp">Obtenga <span>Educación</span> Hoy!</h1>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 794px;">
                                <div class="hero_slide">
                                    <div class="hero_slide_background" style="background-image: url('../../images/slider_background.jpg')"></div>
                                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                                        <div class="hero_slide_content text-center">
                                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut" class="">Obtenga su <span>Educación</span> Hoy!</h1>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 794px;">
                                <div class="hero_slide">
                                    <div class="hero_slide_background" style="background-image: url('../../images/slider_background.jpg');"></div>
                                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                                        <div class="hero_slide_content text-center">
                                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut" class="">Obtenga su <span>Educación</span> Hoy!</h1>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item active" style="width: 794px;">
                                <div class="hero_slide">
                                    <div class="hero_slide_background" style="background-image: url('../../images/slider_background.jpg');"></div>
                                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                                        <div class="hero_slide_content text-center">
                                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut" class="animated fadeInUp">Obtenga <span>Educación</span> Hoy!</h1>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 794px;">
                                <div class="hero_slide">
                                    <div class="hero_slide_background" style="background-image: url('../../images/slider_background.jpg');"></div>
                                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                                        <div class="hero_slide_content text-center">
                                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut" class="">Obtenga su <span>Educación</span> Hoy!</h1>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 794px;">
                                <div class="hero_slide">
                                    <div class="hero_slide_background" style="background-image: url('../../images/slider_background.jpg');"></div>
                                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                                        <div class="hero_slide_content text-center">
                                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut" class="">Obtenga su <span>Educación</span> Hoy!</h1>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 794px;">
                                <div class="hero_slide">
                                    <div class="hero_slide_background" style="background-image: url('../../images/slider_background.jpg');"></div>
                                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                                        <div class="hero_slide_content text-center">
                                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut" class="animated animate-out fadeOut fadeInUp">Obtenga <span>Educación</span> Hoy!</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"></div>
                </div>

                <div class="hero_slider_left hero_slider_nav trans_200"><span class="trans_200">&lt;</span></div>
                <div class="hero_slider_right hero_slider_nav trans_200"><span class="trans_200">&gt;</span></div>
            </div>

        </div>

        <div class="hero_boxes">
            <div class="hero_boxes_inner">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-4 hero_box_col">
                            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                                <img src="~/images/earth-globe.svg"  class="svg" alt="">
                                <div class="hero_box_content">
                                    <h2 class="hero_box_title">Cursos en linea</h2>
                                    <a href="courses.html" class="hero_box_link">ver más</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 hero_box_col">
                            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                                <img src="~/images/books.svg" class="svg" alt="">
                                <div class="hero_box_content">
                                    <h2 class="hero_box_title">Nuestra biblioteca</h2>
                                    <a href="courses.html" class="hero_box_link">ver más</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 hero_box_col">
                            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                                <img src="~/images/professor.svg"  class="svg" alt="">
                                <div class="hero_box_content">
                                    <h2 class="hero_box_title">Nuestros Colaboradores</h2>
                                    <a href="teachers.html" class="hero_box_link">ver más</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Popular -->

        <div class="popular page_section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section_title text-center">
                            <h1>Cursos Populares</h1>
                        </div>
                    </div>
                </div>

                <div class="row course_boxes">

                    <!-- Popular Course Item -->
                    <div class="col-lg-4 course_box">
                        <div class="card">
                            <img class="card-img-top" src="~/images/course_1.jpg"  alt="https://unsplash.com/kellybrito">
                            <div class="card-body text-center">
                                <div class="card-title"><a href="courses.html">Guía completa sobre MVC.</a></div>
                                <div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
                            </div>

                        </div>
                    </div>

                    <!-- Popular Course Item -->
                    <div class="col-lg-4 course_box">
                        <div class="card">
                            <img class="card-img-top" src="~/images/course_2.jpg" alt="https://unsplash.com/cikstefan">
                            <div class="card-body text-center">
                                <div class="card-title"><a href="courses.html">Guia sobre HTML</a></div>
                                <div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
                            </div>

                        </div>
                    </div>

                    <!-- Popular Course Item -->
                    <div class="col-lg-4 course_box">
                        <div class="card">
                            <img class="card-img-top" src="~/images/course_3.jpg" alt="https://unsplash.com/dsmacinnes">
                            <div class="card-body text-center">
                                <div class="card-title"><a href="courses.html">Base de datos</a></div>
                                <div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Register -->

        <div class="register">

            <div class="container-fluid">

                <div class="row row-eq-height">
                    <div class="col-lg-6 nopadding">

                        <!-- Register -->

                        <div class="register_section d-flex flex-column align-items-center justify-content-center">
                            <div class="register_content text-center">
                                <h1 class="register_title">Registrate ahora</h1>
                                <p class="register_text">Comunidad Puentes te espera para que seas parte de una comunidad en constante crecimiento.Te ofrecemos material confiable sobre diversos temas.</p>
                                <div class="button button_1 register_button mx-auto trans_200"><a href="#">Registrate Ahora!</a></div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6 nopadding">

                        <!-- Search -->

                        <div class="search_section d-flex flex-column align-items-center justify-content-center">
                            <div class="search_background" style="background-image:url(images/search_background.jpg);"></div>
                            <div class="search_content text-center">
                                <h1 class="search_title">Busca tu curso</h1>
                                <form id="search_form" class="search_form" action="post">
                                    <input id="search_form_name" class="input_field search_form_name" type="text" placeholder="Nombre del curso" required="required" data-error="Nombre del curso requerido.">
                                    <input id="search_form_category" class="input_field search_form_category" type="text" placeholder="Categoria">
                                    <input id="search_form_degree" class="input_field search_form_degree" type="text" placeholder="Tema">
                                    <button id="search_submit_button" type="submit" class="search_submit_button trans_200" value="Submit">Buscar curso</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Services -->

        <div class="services page_section">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section_title text-center">
                            <h1>Nuestros servicios</h1>
                        </div>
                    </div>
                </div>

                <div class="row services_row">

                    <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                        <div class="icon_container d-flex flex-column justify-content-end">
                            <img src="images/earth-globe.svg" alt="">
                        </div>
                        <h3>Cursos en linea</h3>
                        <p>Nuestros cursos estan a disposicion.</p>
                    </div>

                    <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                        <div class="icon_container d-flex flex-column justify-content-end">
                            <img src="images/exam.svg" alt="">
                        </div>
                        <h3>Recursos</h3>
                        <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
                    </div>

                    <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                        <div class="icon_container d-flex flex-column justify-content-end">
                            <img src="images/books.svg" alt="">
                        </div>
                        <h3>Nuestra libreria</h3>
                        <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
                    </div>

                    <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                        <div class="icon_container d-flex flex-column justify-content-end">
                            <img src="images/professor.svg" alt="">
                        </div>
                        <h3>Colaboradores</h3>
                        <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
                    </div>

                    <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                        <div class="icon_container d-flex flex-column justify-content-end">
                            <img src="images/blackboard.svg" alt="">
                        </div>
                        <h3>Programas</h3>
                        <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
                    </div>

                    <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
                        <div class="icon_container d-flex flex-column justify-content-end">
                            <img src="images/mortarboard.svg" alt="">
                        </div>
                        <h3>Cursos completados</h3>
                        <p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
                    </div>

                </div>
            </div>
        </div>

        <!-- Testimonials -->
        <!-- Footer -->

        <footer class="footer">
            <div class="container">

                <!-- Newsletter -->

                <div class="newsletter">
                    <div class="row">
                        <div class="col">
                            <div class="section_title text-center">
                                <h1>Suscríbete al boletín</h1>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col text-center">
                            <div class="newsletter_form_container mx-auto">
                                <form action="post">
                                    <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                                        <input id="newsletter_email" class="newsletter_email" type="email" placeholder="Email" required="required" data-error="Valid email is required.">
                                        <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Suscribete</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Footer Content -->

                <div class="footer_content">
                    <div class="row">

                        <!-- Footer Column - About -->
                        <div class="col-lg-3 footer_col">

                            <!-- Logo -->
                            <div class="logo_container">
                                <div class="logo">
                                    <img src="" alt="">
                                </div>
                            </div>
                        </div>

                        <!-- Footer Column - Menu -->

                        <div class="col-lg-3 footer_col">
                            <div class="footer_column_title">Menu</div>
                            <div class="footer_column_content">
                                <ul>
                                    <li class="footer_list_item"><a href="#">Inicio</a></li>
                                    <li class="footer_list_item"><a href="#">Sobre Nosotros</a></li>
                                    <li class="footer_list_item"><a href="courses.html">Cursos</a></li>
                                    <li class="footer_list_item"><a href="news.html">Novedades</a></li>
                                    <li class="footer_list_item"><a href="contact.html">Contacto</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column - Usefull Links -->
                        <!-- Footer Column - Contact -->

                        <div class="col-lg-3 footer_col">
                            <div class="footer_column_title">Contacto</div>
                            <div class="footer_column_content">
                                <ul>
                                    <li class="footer_contact_item">
                                        <div class="footer_contact_icon">
                                            <img src="~/images/placeholder.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                        </div>
                                        San Miguel, El Salvador
                                    </li>
                                    <li class="footer_contact_item">
                                        <div class="footer_contact_icon">
                                            <img src="~/images/smartphone.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                        </div>
                                        +503 0000-0000
                                    </li>
                                    <li class="footer_contact_item">
                                        <div class="footer_contact_icon">
                                            <img src="images/envelope.svg" alt="https://www.flaticon.com/authors/lucy-g">
                                        </div>hello@company.com
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Footer Copyright -->

                <div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
                    <div class="footer_copyright">
                        <span>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright ©
                            <script>document.write(new Date().getFullYear());</script>2018 Todos los derechos reservados
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </span>
                    </div>
                    <div class="footer_social ml-sm-auto">
                        <ul class="menu_social">
                            <li class="menu_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li class="menu_social_item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="menu_social_item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="menu_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
</footer>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="styles/bootstrap4/popper.js"></script>
    <script src="styles/bootstrap4/bootstrap.min.js"></script>
    <script src="plugins/greensock/TweenMax.min.js"></script>
    <script src="plugins/greensock/TimelineMax.min.js"></script>
    <script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="plugins/greensock/animation.gsap.min.js"></script>
    <script src="plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="plugins/scrollTo/jquery.scrollTo.min.js"></script>
    <script src="plugins/easing/easing.js"></script>
    <script src="js/custom.js"></script>

